# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Data
data/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# OSX
.DS_Store

# Pytest
.pytest_cache/

# Docker
*.log
docker-compose.override.yml
